@font-face {
    font-family: Overbyte Off Regular;
    src: url(fonts/ccoverbyteoffregular.otf);
}

body {
    font-family: 'Overbyte Off Regular';
}

#conteudoGeral {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#cor-selecionada li,
h2 {
    font-size: 30px;
    text-align: center;
    margin: 10px auto auto auto;
    display: block;
}

#cor-selecionada li {
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 48px;
}


#color-palette {
    display: flex;
    justify-content: space-between;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}

#ciano {
    background-color: cyan;
}

#magenta {
    background-color: magenta;
}

#amarelo {
    background-color: yellow;
}

#preto {
    background-color: black;
}

li {
    background-color: white;
    display: table-cell;
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#pixel-board {
    display: table;
    margin: 20px auto auto auto;
}

#pixel-board li:hover {
    background-color: rgba(211, 211, 211, 0.973);
    
}
.linha-pixel-board {
    display: table-row;
}