@font-face {
    font-family: Overbyte Off Regular;
    src: url(fonts/ccoverbyteoffregular.otf);
}

body {
    font-family: 'Overbyte Off Regular';
}
#conteudoGeral {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(136, 133, 133);
    padding: 20px;
    margin: auto;
    align-items: center;
}
#cor-selecionada {
    font-size: 30px;
    text-align: center;
    display: block;
}
#cor-selecionada li {
    margin: auto;
    display: block;
}
#selected-color{
    background-color: black;
}
h1 {
    text-align: center;
    font-size: 48px;
    margin: 10px;
}
h2 {
    margin: 10px;
    font-size: 36px;
}
#color-palette {
    display: flex;
    justify-content: space-between;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}
#ciano {
    background-color: cyan;
}
#magenta {
    background-color: magenta;
}
#amarelo {
    background-color: yellow;
}
#preto {
    background-color: black;
}#branco {
    background-color: white;
}#botoes{
    margin-top: 10px;
}#botoes button{
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Overbyte Off Regular';
    width: 80px;
    padding: 10px;
}
#botoes input{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'Overbyte Off Regular';
}
li {
    background-color: white;
    display: table-cell;
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
#pixel-board {
    display: table;
    margin: 10px auto 10px auto;
}

.linha-pixel-board {
    display: table-row;
}
#pixel-board li:hover {
    background-color: rgba(211, 211, 211, 0.973);

}
#color-palette li:hover{        
    box-shadow:  0 0 2em rgb(202, 196, 196);
}